/* NON-LAPTOP/DESKTOP LAYOUT */
img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15%;
    overflow: hidden;
}

h2 {
    display: none;
}

/* laptop layout */
@media screen and (min-width: 1200px) {
    h2 {
        margin-top: -2.5%;
        margin-left: 42.8%;
        font-size: 1.0em;
        display: block;
    }

    img {
        max-width: 40%;
        margin-top: 10%;
        margin-left: 45%;
        display: block;
    }
}

/* desktop layout */
@media screen and (min-width: 1800px) {
    h2 {
        margin-top: -1.5%;
        margin-left: 39.7%;
        display: block;
    }

    img {
        max-width: 40%;
        margin-top: 13%;
        margin-left: 41%;
        display: block;
    }
}
