/* NON-LAPTOP/DESKTOP LAYOUT */

img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 15%;
    display: block;
    overflow: hidden;
}

.loading {
    background: transparent url('https://i.imgur.com/0kRjKZi.gif') center no-repeat;
}

/* tablet layout */
@media screen and (min-width: 600px) {
    p {
        font-size: 20px;
    }
}

/* tablet pro layout */
@media screen and (min-width: 900px) {
    p {
        font-size: 28px;
    }
}

/* laptop layout */
@media screen and (min-width: 1200px) {
    p {
        margin-left: 32.8%;
        font-size: 14px;
        width: 38em;
    }

    img {
        max-width: 500px;
        max-height: 850px;
        margin: 0 auto;
        padding: 40px;
        padding-left: 6%;
    }
}

/* desktop layout */
@media screen and (min-width: 1800px) {
    p {
        margin-left: 27%;
        font-size: 20px;
        width: 36em;
    }

    img {
        max-width: 750px;
        max-height: 1150px;
        margin: 0 auto;
        padding: 40px;
        padding-left: 6%;
    }
}
