/* default */
nav {
    button {
        font-family: "Inter", "Open Sans", sans-serif;
        font-size: 0.9em;
        text-decoration: none;
    }
}

/* mobile */
@media screen and (max-width: 599px) {
    nav { 
        width: 60%;
        float: right;
        margin-top: -7%;
        margin-right: -47%;
    }

    .dropdown-content {
        float: left;
        margin-top: 5%;
        margin-left: -5.5%;
        display: none;
        ul {
            list-style: none;
            padding-left: 0;
            font-size: 0.8em;
        }

        ul::after {
            content: '';
	        display: block;
	        clear: both;
        }
	 
        li {
            display: block;
            line-height: 0.1;
	    }

        .selected {
	        position: relative;
            display: inline-block;
            opacity: 0.5;
        }

        a {
            text-decoration: none;
	        padding: 1em 0.5em;
	        display: block;
        }
    }
}
