/* default */
nav {
    position: fixed;
    background-color: white;
    button {
        overflow: hidden;
        font-family: "Inter", "Open Sans", sans-serif;
        font-size: 0.9em;
        text-decoration: none;
    }
}

a {
    text-decoration: none;
}

/* mobile */
@media screen and (max-width: 599px) {
    nav { 
        width: 100%;
        height: 5%;
        top: 0;
        padding-top: 20px;
        overflow: hidden;
        button {
            width: 44%;
            float: right;
        }
        z-index: 1;
    }

    h1 {
        position: fixed; 
        overflow: hidden;
    }

    .dropdown-content {
        float: left;
        margin-top: 5%;
        margin-left: -1.5%;
        z-index: 1;
        position: fixed;
        display: none;
        ul {
            list-style: none;
            padding-left: 0;
            font-size: 0.8em;
        }

        ul::after {
            content: '';
	        display: block;
	        clear: both;
        }
	 
        li {
            display: block;
            line-height: 0.1;
	    }

        ul li ul li {
            font-size: 1.2em;
            margin-left: 10px;
        }

        .selected {
	        position: relative;
            display: inline-block;
            opacity: 0.5;
        }

        a {
            text-decoration: none;
	        padding: 1em 0.5em;
	        display: block;
        }
    }
}
